@model PerformersEval.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @Html.PasswordFor(m => m.OldPassword, htmlAttributes: new { maxlength="25", style="width:10em" })
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @Html.PasswordFor(m => m.NewPassword, htmlAttributes: new { maxlength="25", style="width:10em" })
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, htmlAttributes: new { maxlength="25", style="width:10em" })
            </li>
        </ol>
        <input type="submit" value="Change password" />
    </fieldset>
}
