@model PerformersEval.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @Html.TextBoxFor(m => m.UserName, htmlAttributes: new { maxlength="25", style="width:10em" })
            </li>
            <li>
                @Html.LabelFor(m => m.Password)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @Html.PasswordFor(m => m.Password, htmlAttributes: new { maxlength="25", style="width:10em" })
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, htmlAttributes: new { maxlength="25", style="width:10em" })
            </li>
            <li>
                @Html.LabelFor(m => m.EmailId)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @Html.TextBoxFor(m => m.EmailId, htmlAttributes: new { maxlength="35", style="width:15em" })
            </li>
            @*
            <li>
                @Html.LabelFor(m => m.Details)
                @Html.TextBoxFor(m => m.Details)
            </li>
            *@
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
